[submodule "extensions/blue_print_css"]
	path = extensions/blue_print_css
	url = git@github.com:theteknocat/Biscuit-BlueprintCSS.git
[submodule "extensions/debug_bar"]
	path = extensions/debug_bar
	url = git@github.com:theteknocat/Biscuit-DebugBar.git
[submodule "extensions/html_purify"]
	path = extensions/html_purify
	url = git@github.com:theteknocat/Biscuit-HtmlPurifier.git
[submodule "extensions/navigation"]
	path = extensions/navigation
	url = git@github.com:theteknocat/Biscuit-Navigation.git
[submodule "modules/authenticator"]
	path = modules/authenticator
	url = git@github.com:theteknocat/Biscuit-Authenticator.git
[submodule "modules/captcha"]
	path = modules/captcha
	url = git@github.com:theteknocat/Biscuit-Captcha.git
[submodule "modules/hit_counter"]
	path = modules/hit_counter
	url = git@github.com:theteknocat/Biscuit-HitCounter.git
