<p>Biscuit is a Rapid Application Development (RAD) framework for PHP 5 built on MVC programming standards. Some of its features include:</p>
<ul>
	<li><strong>Rapid Development</strong> - Biscuit does most of the heavy lifting for you so you can focus all your time on deliverables.</li>
	<li><strong>Extendable Modular Design</strong> - Supports customizable modules and extensions so you can tailor your site to any need. Write your own, or customize all or part of any existing ones.</li>
	<li><strong>Themes</strong> - Apply a theme to the whole site or individual pages.</li>
	<li><strong>Security</strong> - Protects against most common website security threats.</li>
</ul>
<p>You can begin setting up your new Biscuit site by <a href="/login">logging into the System Administrator account</a>.</p>
<p>The default username and password are <strong>admin</strong> / <strong>admin</strong>. You can change these after you login.</p>
<h2>How do I Replace This Page?</h2>
<p>To replace this page with your own content, simply create a file called index.html or index.php in the views folder in the root of your site. Fill it up with content and you will see it appear here.</p>
<p class="last">Alternatively you can install one or more modules on the home page to deliver dynamic content.</p>