/* Form Styles */
form label {
	display: block;
	float: left;
	width: 175px;
	margin: 2px;
	padding: 2px 5px 2px 2px;
	text-align: right;
	font-size: 12px;
}
form label.error {
	background: none;
	border: none;
	margin: 2px;
	padding: 2px 5px 2px 2px;
}
form label.radio-button-label {
	width: auto;
	font-weight: normal;
	text-align: left;
	padding: 0;
	margin: 0 10px 0 5px;
}
form span.field-container {
	display: block;
	float: left;
	width: auto;
	margin: 2px;
	padding: 2px;
}
form p, form p.small {
	clear: both;
	padding: 5px;
	margin: 0;
}
form p.stripe-even {
	background: #ddd;
}
form p.stripe-odd {
	background: #eee;
}
form p span.instructions {
	margin: 0 0 0 186px;
	font-size: 10px;
	display: block;
	clear: both;
}
fieldset {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
fieldset legend {
	padding: 0 5px;
	color: #444;
}
form input.radio-button {
	float: left;
	padding: 0;
	margin: 3px;
}
input.text, input.title, input.file, select {
	padding: 2px;
	margin: 2px 0;
	font-size: 12px;
}
textarea {
	font-family: inherit;
	padding: 2px;
	margin: 2px 0;
	font-size: 12px;
	background: #F6F6F6;
}
input.text, input.title, input.file, textarea, select {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 1px 1px 5px #ddd;
	-webkit-box-shadow: 1px 1px 5px #ddd;
}
input.error,
input.error:focus,
input.text.error:focus,
input.file.error:focus,
input.title.error:focus,
textarea.error,
select.error {
	border: 1px solid #D12F19;
	background: #FBE3E4;
	margin: 2px 0;
	padding: 2px;
	color: #000;
	-moz-box-shadow: 1px 1px 5px #f6acaf;
	-webkit-box-shadow: 1px 1px 5px #f6acaf;
}
input.SubmitButton {
	background: #9fd79b;
	border: 1px solid #7cb877;
	padding: 1px 20px;
	margin: 0;
	font-size: 10px;
	line-height: 16px;
	font-weight: bold;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color: #000099;
	-webkit-box-shadow: #aaa 1px 1px 5px;
	-moz-box-shadow: #aaa 1px 1px 5px;
}
input.SubmitButton:focus {
	color: #000;
}
input.SubmitButton:hover {
	background: #7cb877;
	cursor: pointer;
}
.login-form input.text,
.login-form label {
	font-size: 16px;
}
.leftfloat {
	float: left;
}
.rightfloat {
	float: right;
}

.controls, .paging {
	text-align: right;
	height: 20px;
	padding: 5px;
	border: 1px solid #ccc;
	clear: both;
	margin: 15px 0 10px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.controls {
	background: #eee;
}

.paging {
	background: #fff;
}

.controls.admin {
	text-align: left;
	font-size: 14px;
	color: #aaa;
}

fieldset .controls, td .controls {
	background: none;
	border: none;
	padding: 0;
	float: right;
	margin: 0;
}

.controls a,
.controls a:active,
.controls a:visited,
.controls a:focus,
.paging a,
.paging a:active,
.paging a:visited,
.paging a:focus,
.paging span.page-number,
.file-browse-field a {
	display: block;
	float: left;
	font-size: 10px;
	line-height: 16px;
	padding: 1px 10px;
	border: 1px solid #aaa;
	text-decoration: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: #aaa 1px 1px 5px;
	-moz-box-shadow: #aaa 1px 1px 5px;
}

.paging .page-links-right {
	float: right;
}

.controls a,
.controls a:active,
.controls a:visited,
.controls a:focus {
	margin: 0 10px 0 0;
	background: #ccc;
}

.paging a,
.paging a:active,
.paging a:visited,
.paging a:focus {
	margin: 0 5px 0 0;
	background: #ccc;
}

.paging .page-links-right a,
.paging .page-links-right a:active,
.paging .page-links-right a:visited,
.paging .page-links-right a:focus {
	margin: 0 0 0 5px;
}

.paging span.page-number {
	margin: 0 5px 0 0;
	background: #fff;
}

.paging .page-links-right span.page-number {
	margin: 0 0 0 5px;
}

.paging .paging-title {
	display: block;
	float: left;
	color: #aaa;
	font-size: 14px;
	margin: 0 5px 0 0;
}

.controls a.delete-button,
.controls a.delete-button:visited,
.controls a.delete-button:active,
.controls a.delete-button:focus {
	color: #c50800;
}

.file-browse-field {
	display: block;
	height: 26px;
}

.file-browse-field a {
	margin: 2px 0 2px 5px;
	background: #ccc;
}

.file-browse-field input.text {
	float: left;
}

.controls span.admin {
	float: left;
	font-size: 14px;
	color: #aaa
}

fieldset .controls a, td .controls a,
fieldset .controls a:active, td .controls a:active,
fieldset .controls a:visited, td .controls a:visited,
fieldset .controls a:focus, td .controls a:focus
{
	font-size: 10px;
	float: right;
	margin: 0 0 0 5px;
}
.controls a:hover,
.paging a:hover,
.file-browse-field a:hover {
	background: #aaa;
}
.controls a.delete-button:hover {
	color: #8b0600;
}
.controls.admin a {
	float: right;
	margin: 0 0 0 5px;
}